@font-face {
    font-family:RanuaTrials-Black;
    src: url("Fonts/RanuaTrials-Black.otf");
}

@font-face {
    font-family:RanuaTrials-BlackItalic;
    src: url("Fonts/RanuaTrials-BlackItalic.otf");
}
@font-face {
    font-family:RanuaTrials-Bold;
    src: url("Fonts/RanuaTrials-Bold.otf");
}
@font-face {
    font-family:RanuaTrials-BoldItalic;
    src: url("Fonts/RanuaTrials-BoldItalic.otf");
}

@font-face {
    font-family:RanuaTrials-Fine;
    src: url("Fonts/RanuaTrials-Fine.otf");
}
@font-face {
    font-family:RanuaTrials-FineItalic;
    src: url("Fonts/RanuaTrials-FineItalic.otf");
}
@font-face {
    font-family:RanuaTrials-Heavy;
    src: url("Fonts/RanuaTrials-Heavy.otf");
}
@font-face {
    font-family:RanuaTrials-HeavyItalic;
    src: url("Fonts/RanuaTrials-HeavyItalic.otf");
}
@font-face {
    font-family:RanuaTrials-Italic;
    src: url("Fonts/RanuaTrials-Italic.otf");
}
@font-face {
    font-family:RanuaTrials-Light;
    src: url("Fonts/RanuaTrials-Light.otf");
}

@font-face {
    font-family:RanuaTrials-LightItalic;
    src: url("Fonts/RanuaTrials-LightItalic.otf");
}
@font-face{
    font-family:Helvetica-LT-Std-Bold;
  src: url("Fonts/Helvetica-LT-Std-Bold.otf");
}



@font-face {
    font-family:RanuaTrials-Medium;
    src: url("Fonts/RanuaTrials-Medium.otf");
}
@font-face {
    font-family:RanuaTrials-MediumItalic;
    src: url("Fonts/RanuaTrials-MediumItalic.otf");
}
@font-face {
    font-family:RanuaTrials-Regular;
    src: url("Fonts/RanuaTrials-Regular.otf");
}
@font-face {
    font-family:RanuaTrials-Thin;
    src: url("Fonts/RanuaTrials-Thin.otf");
}
@font-face {
    font-family:RanuaTrials-ThinItalic;
    src: url("Fonts/RanuaTrials-ThinItalic.otf");
}
@font-face {
    font-family:Poppins-Black;
    src: url("Fonts/Poppins-Black.ttf");
}

@font-face {
    font-family:Poppins-BlackItalic;
    src: url("Fonts/Poppins-BlackItalic.ttf");
}

@font-face {
    font-family:Poppins-Bold;
    src: url("Fonts/Poppins-Bold.ttf");
}


@font-face {
    font-family:Poppins-BoldItalic;
    src: url("Fonts/Poppins-BoldItalic.ttf");
}


@font-face {
    font-family:Poppins-ExtraBold ;
    src: url("Fonts/Poppins-ExtraBold.ttf");
}


@font-face {
    font-family:Poppins-ExtraBoldItalic ;
    src: url("Fonts/Poppins-ExtraBoldItalic.ttf");
}



@font-face {
    font-family:Poppins-ExtraLight ;
    src: url("Fonts/Poppins-ExtraLight.ttf");
}



@font-face {
    font-family:Poppins-ExtraLightItalic ;
    src: url("Fonts/Poppins-ExtraLightItalic.ttf");
}



@font-face {
    font-family:Poppins-Italic;
    src: url("Fonts/Poppins-Italic.ttf");
}



@font-face {
    font-family:Poppins-Light;
    src: url("Fonts/Poppins-Light.ttf");
}



@font-face {
    font-family:Poppins-LightItalic;
    src: url("Fonts/Poppins-LightItalic.ttf");
}


@font-face {
    font-family:Poppins-Medium;
    src: url("Fonts/Poppins-Medium.ttf");
}


@font-face {
    font-family:Poppins-MediumItalic;
    src: url("Fonts/Poppins-MediumItalic.ttf");
}


@font-face {
    font-family:Poppins-SemiBold;
    src: url("Fonts/Poppins-SemiBold.ttf");
}


@font-face {
    font-family:Poppins-SemiBoldItalic;
    src: url("Fonts/Poppins-SemiBoldItalic.ttf");
}


@font-face {
    font-family:Poppins-Thin;
    src: url("Fonts/Poppins-Thin.ttf");
}



@font-face {
    font-family:Poppins-ThinItalic;
    src: url("Fonts/Poppins-ThinItalic.ttf");
}
@font-face {
    font-family:Helvetica-LT-Std-Roman;
    src: url("Fonts/Helvetica-LT-Std-Roman.otf");
}
@font-face {
    font-family:Helvetica-LT-Std-Light;
    src: url("Fonts/Helvetica-LT-Std-Light.otf");
}